<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMASH</title>
    <link rel="stylesheet" href="/CSS/menu.css" />
  </head>
  <body>
    <section id="topPage">
      <nav>
        <div id="langue">
          <select name="language" id="selectlaguage">
            <option value="fr">FR</option>
            <option value="en">EN</option>
          </select>
        </div>
        <div id="logo">
          <div id="divSMASH"><h1 id="SMASH">SMASH</h1></div>
          <div id="divGOURMET"><h1 id="GOURMET">GOURMET</h1></div>
        </div>
        <div id="IF">
          <a href=""
            ><img
              id="instagram"
              src="/icons/instagram.png"
              alt="instagram"
            />
          </a>
          <a href="">
            <img id="facebook" src="/icons/fb.png" alt="facebook" />
          </a>
        </div>
        <div id="Dburger" class="Dburger">
          <label class="burger" for="burger">
            <input type="checkbox" id="burger" />
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <div id="pages" class="pages">
          <a href="/home"> <p>Accueil</p></a>
          <a href="/home"> <p>Commandez Now</p></a>
          <div id="typesCommendes">
          <a href="https://www.ubereats.com/"><img src="/images/uber.png" alt="uber"></a>
          <a href="https://deliveroo.fr/fr/"><img src="/images/delivero.png" alt="deliveroo">
          <a href="tel:+33624826806">Appelez-nous Now au +33 6 24 82 68 06</a>


          </div>
          <div id="FI" >
            <a href="https://www.instagram.com/le_smash_gourmet/"
              ><img
                id="instagram"
                src="/icons/instagram.png"
                alt="instagram"
              />
            </a>
            <a href="">
              <img id="facebook" src="/icons/fb.png" alt="facebook" />
            </a>
          </div>
        </div>
      </nav>
    </section>
    <main>
        <div id="container">
          <div id="cartes">
            <div class="carte">
              <img src="/images/Cover_edited.avif" alt="burger" />
              <h1>Smash Gourmet</h1>
              <h4>Un Steack</h4>
              <p>Pain potato buns,double steack,Salade,tomate,cornichons,oignon caramélisé
                american cheddar,frites maison</p>
             <div id="Mprix">
              <p class="prix">Seul 5,90 €</p>
              <p class="prix">Menu 10 €</p>
             </div>

            </div>
            <div class="carte">
              <img src="/images/Cover_edited.avif" alt="burger" />
              <h1>Smash Gourmet</h1>
              <h4>Deux Steack</h4>
              <p>Pain potato buns,double steack,Salade,tomate,cornichons,oignon caramélisé
                american cheddar,frites maison</p>
             <div id="Mprix">
              <p class="prix">Seul 7,50 €</p>
              <p class="prix">Menu 11,50 €</p>
             </div>
            </div>
            <div class="carte">
              <img src="/images/Cover_edited.avif" alt="burger" />
              <h1>Smash Gourmet</h1>
              <h4>Trouble Steack</h4>
              <p>Pain potato buns,double steack,Salade,tomate,cornichons,oignon caramélisé
                american cheddar,frites maison</p>
             <div id="Mprix">
              <p class="prix">Seul 8,90 €</p>
              <p class="prix">Menu 13 €</p>
             </div>
            </div>
            <div class="carte">
              <img src="/images/Cover_edited.avif" alt="burger" />
              <h1>Smash Avocado</h1>
              <p>Pain brioché,double steack,Salade ,tomate
                cornichons,oignon caramélisé
                american cheddar, avocat , frites maison</p>
             <div id="Mprix">
              <p class="prix">Seul 5,50 €</p>
              <p class="prix">Menu 9,50 €</p>
             </div>
            </div>
            <div class="carte">
              <img src="/images/Cover_edited.avif" alt="burger" />
              <h1>Smash Bacon</h1>
              <p>Pain brioché,double steack,Salade,tomate
                cornichons,oignon caramélisé
                american cheddar,bacon,frites maison</p>
             <div id="Mprix">
              <p class="prix">Seul 7,90 €</p>
              <p class="prix">Menu 12 €</p>
             </div>
            </div>
            <div class="carte">
              <img src="/images/Cover_edited.avif" alt="burger" />
              <h1>Smash Truffe</h1>
              <p>Pain brioché,double steack,Salade,tomate
                cornichons,oignon caramélisé
                american cheddar,tuffe,frites maison</p>
             <div id="Mprix">
              <p class="prix">Seul 8,90 €</p>
              <p class="prix">Menu 13 €</p>
             </div>
            </div>
            <div class="carte">
              <img src="/images/Cover_edited.avif" alt="burger" />
              <h1>Smash Chicken</h1>
              <p>Pain brioché,double steack,Salade,tomate
              cornichons,oignon caramélisé
              american cheddar,poulet,frites maison</p>
             <div id="Mprix">
              <p class="prix">Seul 5,50 €</p>
              <p class="prix">Menu 9,50 €</p>
             </div>
            </div>
            <div class="carte">
              <img src="/images/Cover_edited.avif" alt="burger" />
              <h1>Smash Végan</h1>
              <p>Pain brioché,double steack, Salade,tomate
              cornichons,oignon caramélisé
              american cheddar, 
              veggie,frites maison</p>
             <div id="Mprix">
              <p class="prix">Seul 7,90 €</p>
              <p class="prix">Menu 12 €</p>
             </div>
            </div>
            <div class="carte" id="sup">
            <img src="/images/frite3.jpg" alt="frite">
            <h1>Frites</h1>
            <p>Frites maison</p>
            <div id="Mprix">
            <p class="prix">2,50 €</p>
            </div>
            </div>
            <div class="carte" id="sup">
              <p class="prix" >Chedder supplémentaire 1,5 €</p>
              <p class="prix" >Steack supplémentaire 1,5 €</p>
              <p class="prix" >Sauce supplémentaire 0,50 €</p>
              <p class="prix" >Boisson canette 2 €</p>
              <p class="prix" >l'eau 1,5 €</p>
          </div>

      </main>
    <footer>
      <div id="footer1">
        <h1>SMASH</h1>
        <p>GOURMET</p>
      </div>

      <div id="footer3">
        <p>Politique de confidentialité</p>
        <p>Conditions générales</p>
      </div>
      <div id="footer2">
        <p>© 2021 SMASH GOURMET</p>
      </div>
    </footer>
    <script src="/js/menu.js">
    </script>
  </body>
    
</html>
